body,div,a,p,b,li,ol,ul,input,form,h1,h2,h3,h4,h5,textarea{
	margin:0;
	padding:0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-seri;
}
.ol,.ul,.li
{list-style-type:square; 
}
a{
	text-decoration: none;
	display:line-block;
	color:#fff;
	z-index: 1;
}
a:hover{
	color:#0a8fc8;
	cursor:default;}

img{
	display:block;
	border:none;
}
input[type="password"]::-ms-reveal{
	opacity:1;
}
input[type=checkbox]::after{
	position: absolute;
	top: 0;
	background-color:none;
	color: white;
	width: 15px;
	height: 15px;
	display: inline-block;
	visibility: visible;
	padding-left: 0px;
	text-align: center;
	content: ' ';
	border-radius: 3px
}
	   
input[type=checkbox]:checked::after{
	content: "✓";
	font-size: 12px;
	font-weight: bold;
	background-color: #2F4DBF;
}