 /*居中盒子  */
 #tocenter{
    margin:0 auto;
    position: fixed;
} 
/*左侧底部蓝色背景 */
#blue-line{
    position: relative;
    left:0%;
    width: 260px;
    height: 752px;
    background-color: #29304B;
    z-index: 0;
    }
/* 上端LOGO及名称 */
       /* 主体盒子 (背景)   最上端导航栏的参数是这个盒子的高，65px*/
  #title{
      position: relative;
      top:0px;
      left:0px;
      height: 65px;
      width: 260px;
      background-color:#171C30 ;
  }
       /* 左上角LOGO*/
  #main-logo{
      position:absolute;
      top:-110px;
      left:-100px;
      transform: scale(0.18);
  }
        /* 名称 */
  #main-word{
      position: absolute;
      top:12px;
      left:70px;
      color:aliceblue;
      font-size: 25px;
  }
/* 一级菜单 */
/* 逐列动画 */
@keyframes open{
    to{width:260px;opacity: 1;}
}
#min-box,#min-box-1,#min-box-2,#min-box-3,#min-box-4,#min-box-5,#min-box-6{
    position: relative;
    width: 0px;
    height: 50px;
    background-color:#29304B;
    text-align: center;
    opacity: 0;
    animation:open  0.5s linear;
    animation-fill-mode: forwards;
}
#min-box-1{animation-delay: 0.1s;}
#min-box-2{animation-delay: 0.2s;}
#min-box-3{animation-delay: 0.3s;}
#min-box-4{animation-delay: 0.4s;}
#min-box-5{animation-delay: 0.5s;}
#min-box-6{animation-delay: 0.6s;}
#min-box:hover,#min-box-1:hover,#min-box-2:hover,#min-box-3:hover,#min-box-4:hover,#min-box-5:hover,#min-box-6:hover{
    background-color: #2F4DBF;
}
/* 添加部分 */
#two-box-3,#two-box-4{
    position: relative;
    width: 230px;
    height:45px;
    left:30px;
    display:none; 
    z-index: 200px;
}
#two-box-4{
    height:70px;
}
#be-more-3,#be-more-4{
    position: absolute;
    top:18px;
    left:210px;
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 1s;
    z-index: 100;
}
#be-more-3:hover,#be-more-4:hover{
    transform: rotate(90deg);
}
   /* 标题文字 */
   #min-word{
       position: absolute;
       top:32%;
       left: 28%;
       color: #ffffff;
       font-size: 15px;

   }
   /* 左侧图片 */
   #left-img{
       position: absolute;
       top:32%;
       left:-35%;
       position: relative;
       font-family: "iconfont" !important;
       font-size: 25px;
       font-style: normal;
       color: #fff;
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
   }
   /* 可展开标志 */
   #be-more,#be-more-0,#be-more-1,#be-more-2{
       position: absolute;
       top:18px;
       left:210px;
       font-family: "iconfont" !important;
       font-size: 20px;
       font-style: normal;
       color: #fff;
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
       transition: 1s;
       z-index: 100;
   }
   #be-more:hover{
       left:220px;
   }
   #be-more-0:hover,#be-more-1:hover,#be-more-2:hover{
       transform: rotate(90deg);
   }
/* 二级菜单 */
       /* 二级菜单的盒子 ，用于调整二级菜单位置*/
#two-box-0,#two-box-1,#two-box-2{
   position: relative;
   width: 230px;
   height:75px;
   left:30px;
   display:none; 
}
#two-box-2{
   height:52px;
}
#two-box-0{
   height: 52px;
}
       /* 二级菜单中每一项的盒子，用于调整字体和间距参数 */
#two-word{
   font-size: 15px;
   color:#999999;
   margin-bottom: 5px;
   margin-top: 3px;
}
#two-word:hover{
   color: #ffffff;
}

/* 添加部分 */
#two-box-3{
    position: relative;
    width: 230px;
    height:45px;
    left:30px;
    display:none; 
}
#be-more-3{
    position: absolute;
    top:18px;
    left:210px;
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 1s;
    z-index: 100;
}
/* 底层返回按钮 */
#toback{
   position: relative;
   left:5%;
   top:60px;
   transform: scale(0.9);
   transition: 1.2s;
}
#toback:hover{
   transform: scale(0.8);
}
.body{
    background-color:  #F3F5F8;
}
.top{
    
    height: 65px;
    width:100%;
    background-color: #ffffff;
}
.right{

    position: absolute;
    margin-left: 260px;
    color: #666666;
     background-color: #F3F5F8;
    width: 100%px;

}
.right a{
    color:  #666666;
}
.title{
    font-size: 25px;
    margin: 25px 62px;
}
#case1{
    top: 10px;
}
.case{
    width: 200px;
    height: 220px;
    background-color: white;
    border: solid 2.2px  #666666;
    border-radius: 10px;
    /* box-shadow: 2px 2px 2px 2px #cdd0d4; */
    display: inline-block;
    margin-left: 70px;
    text-align:center;
}
#img{
    transform:scale(0.75);
    margin-top: -18px;
}
#img1{
    transform:scale(0.75);
    margin-top: -12px;
}
.name1{
    font-size: 25px;
    margin-top:-15px;
}
.list1{
    display: flex;
    font-size: 25px;
    width: 100%;

    height: 100%;
    background-color: white;
    border: solid 2.2px  #666666;
    border-radius: 10px;
    margin-left: 74px;
}
.list1 li{
  margin: 30px 5px 30px 30px;
}
.detail{
    border: solid 2.2px  #666666;
    border-radius: 10px;
    /* box-shadow: 2px 1px 1px 1px #cdd0d4; */
    width: 400px;
     height: 82px;
    margin-top: 20px;
    font-size: 20px;
}

#detail2{
    height: 118px;
}
.content{
    margin: 15px 20px;
}
.list1 a{
    color:  #666666;
}
/* 弹窗 */
#alter{
    width: 250px;
    height: 100px;
    background-color:#ffffff;
    position: absolute;
    margin-top: -60px;
    margin-left: 400px;
    border-radius: 8px 8px 8px 8px;
    border: 3px solid #b6b1b1;
    text-align: center;
    display: none;

}

#p{
    font-size: 18px;
    margin-top:30px;
    color: #333333;
}
