#top-right{
    position:absolute;
    top:30px;
     right: 100px;
     font-size: 20px;
     color: #ffffff;
     display:inline-block;
}
.topright{
    position: relative;
    color: currentColor;

}
.topright:hover{
    color:#0a8fc8;
}
body{
    background-image: url(../image/blue3.jpg);
    background-size: cover;
    overflow: hidden;
}
#block{
    position: absolute;
    height: 1200px;
    width: 1890px;
    background-color: black;
    opacity: 0.4;
}
/* 左侧背景 */
.main-img{
    position: relative;
    width:920px;
    height: 600px;
    top:60px;
    left:110px;
    background-image: url(../image/团队合作.png);
    background-size:100% 100%;
    border-radius: 15PX;
    box-shadow: 8px 8px 5px black;
    
}
/* 右侧蓝色背景 */
#main-box{
    position:absolute;
    width: 480px;
    height: 600px;
    top:60px;
    left:910px;
    background-color: #D5E0F6;
    display:inline;
    clear: both;
    text-align: center;
    border-radius: 0 25px 25px 0;
    box-shadow: 8px 8px 5px black;
}
/* 飘过白带 */
#white-slip{
    position: absolute;
    left: 180px;
    height: 600px;
    width: 50px;
    background-color: #ffffff;
    opacity: 0.8;
    transform: skew(30deg);
    animation:whiteline 6s ease-in  infinite;  
    animation-delay: 0.2s;  
    z-index: 10000000;
}
#white-slip-1{
    position: absolute;
    left: 165px;
    height: 500px;
    width: 40px;
    background-color: #ffffff;
    opacity: 0.8;
    transform: skew(30deg);
    animation:whiteline 6s ease-in  infinite;  
    animation-delay: 0.4s; 
    z-index: 10000000;
}
@keyframes whiteline{
    0%{display: block;opacity: 0;}
    8%{opacity: 0.8;}
    20%{left:580px;opacity: 0;}
    100%{left:580px;opacity: 0;}
}
/* 白云 */
#cloud{
    position: absolute;
    left:800px;
    top:80px;
    filter: saturate(6);
    animation:cloud 9s linear infinite;  
}
#cloud-1{
    position: absolute;
    left:800px;
    top:140px;
    filter: saturate(6);
    animation:cloud 11s linear infinite;  
    animation-delay: 3s;
}
#cloud-2{
    position: absolute;
    left:100px;
    top:140px;
    filter: saturate(6);
    animation:cloud-1 7s linear infinite;  
}
@keyframes cloud-1{
    0%{opacity: 0;}
    50%{opacity: 1;}
    90%{left: 20px;}
    100%{left:10px;opacity: 0;}
}
@keyframes cloud{
    0%{opacity: 0;}
    20%{opacity: 1;}
    90%{left: 500px;}
    100%{left:400px;opacity: 0;}
}
/* 标题 */
.title{
    position: relative;
    top:50px;
    color:#2F4DBF;
    font-size: 50px;
    margin-bottom: 20px;
}
/* 输入框 */
#first-form{
    position: relative;
    top:-20px;
    left:20%;
    width: 300px;
    height:70px;
    display:block;
    border:none;
    background:none;
    color:#999999;
    font-size:25px;
    outline: none;
    line-height: 80px;
}
#first-form-1{
    position: relative;
    top:-20px;
    left:20%;
    width: 300px;
    height:60px;
    display:block;
    border:none;
    background:none;
    color:#999999;
    font-size:25px;
    outline: none;
}
#first-form-2,#first-form-0{
    position: relative;
    top:-20px;
    left:20%;
    width: 300px;
    height:60px;
    display:block;
    border:none;
    background:none;
    color:#999999;
    font-size:25px;
    outline: none;
}
/* 输入框外包的盒子，用于写底部灰线 */
#from-number{
    position: relative;
    display: block;
    width:400px;
    height: 120px;
    left:10%;
    top:20px;
    padding-left: 20px;
    margin-bottom: -30px;
    border-bottom:3px  solid#B7BFCE;
}
/* 左侧图片 */
#left-img{
    position: relative;
    top:50px;
    transform: scale(0.8);
    margin-right: 300px;
    transition: 1s;
}
#left-img:hover{
    top:60px;
}

 
/* 按钮 */
#main-button{
    position: absolute;
    top:520px;
    left:120px;
    width: 240px;
    height:50px;
    border-radius:50px 50px 50px 50px ;
    border:none;
    font-size: 25px;
    color:#2F4DBF;
    background: linear-gradient(45deg,#8EB1ED,#8A83F7);
    outline: none;
    transition: 1s;
}
#main-button:hover{
    transform: scale(0.9);
}
#main-button-1{
    position: absolute;
    top:490px;
    left:120px;
    width: 240px;
    height:50px;
    border-radius:50px 50px 50px 50px ;
    border:none;
    font-size: 25px;
    color:#2F4DBF;
    background: linear-gradient(45deg,#8EB1ED,#8A83F7);
    outline: none;
    transition: 1s;
    display: none;
}
#main-button-1:hover{
    transform: scale(0.9);
}

/* 容器盒子 */
#big-box{
 
    width: 500px;
    height: 280px;
  
    
}
/* 出现图片 */
#succee{
    position: relative;
    transform: scale(0.7);
    top:-230px;
    left:23%;
    display: none; 
}
#succee-word{
    position: absolute;
    top:360px;
    left:190px;
    font-size: 25px;
    color:#A5A8AC;
    display: none;
}
/* 用户协议 */
#agree{
    position: relative;
    top:122px;
    left:-60px;
    font-size: 12px;;
}
#num:hover{
    color:#2F4DBF;
}
#return{
    position: relative;
    top:-100px;
    left: 20px;
    color: #A5A8AC;
    font-size: 19px;
}
#return:hover{
    color:#2F4DBF;
}
#send{
    position: absolute; 
    top:75px;
    left:350px;
    font-size: 20px;
    background-color: transparent;
    outline: transparent;
    border: transparent;
    color:#999999;
    transition: 0.5s;
}
#send:hover{
    color:#2F4DBF;
    font-size: 25px;
}